.cardimage{
    background-image: url(../images/O10C.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-right: 20px;
}

@media (min-width: 501px){
    footer{
        width: 100%;
    }
}
@media (max-width: 768px) {
    .projects-row{
        display: none;
    }
}